*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url("https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8ZW50cmVwcmVuZXVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    
    background-color: blanchedalmond;
    border: 2px black;
    opacity: 0.5;
    margin: 100px auto;
    height: 500px;
    border-radius: 46px;
    height: 440px;
    width: 340px;
}
.sin{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    margin: 10px auto;
    width: 110%;
    padding: 5px;
    outline: none;
    border-radius: 17px;
}
.btn{
    margin-top: 80px;
    padding: 2px;
    width: 80px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 14px;
    cursor: pointer;
    
}
.btn:hover{
    background-color: black;
}
a{
    text-decoration: none;
    margin: 0px auto;
    padding: 13px;
    color: black;
    font-weight: 600;
}
a:hover{
    color: blanchedalmond;
}

h1{
    margin: 100px 500px;
    color: white;
    font-size: 50px;
}
p{
    margin-top: 20px;
}