*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    padding: 120px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    font-size: 4em;
    color: #fff;
    font-weight: 600;
    line-height: 1.5em;
}

.banner h3{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    
}
.btn{
    position: relative;
    background: #4e10f7;
    display: inline-block;
    color: #fff;
    margin: 20px 0;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 60px;
}
.btn:hover{
    border: 2px solid blanchedalmond;
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 120px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 20px 120px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo{
    color: #111;
}

header ul{
    position: relative;
    display: flex;

}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
header.sticky ul li a{
    color: #111;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 92px;
    color: #111;
   
}
.heading h2{
    font-weight: 600;
    font-size: 38px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentbx{
    padding-right: 70px;
}
.contentbx h3{
    font-size: 30px;
    margin-bottom: 10px;

}
.contentbx p{
    font-size: 25px;
}

img{
    max-width: 100%;
}
.services{
    background: #111;
}
.heading.white{
    color: #fff;
}
.heading.white p{
    margin-top: 50px;
    font-size: 18px;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicebx{
    padding: 40px 57px;
    background: #222;
    color: #fff;
    max-width: 285px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;

}
.services .content .servicebx:hover{
    background: #4e10f7;
}
.services .content .servicebx img{
    max-width: 80px;
    filter: invert(1);
}
.reviews{
    background: rgb(224, 215, 215);
}
.reviews .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reviews .content .reviewsbx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background:#6d677d ;
}
.reviews .content .reviewsbx p{
    color: #fff;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
}
.reviews .content .reviewsbx h3{
    color: #fff;
    margin-top: 40px;
    text-align: end;
    font-weight: 600;
    font-size: 24px;
}
.contact{
    background: #111;
}
.formbx{
    min-width: 60%;
}
.formbx form{
    display: flex;
    flex-direction: column;
}
.formbx form h3, .contactinfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

}
.formbx form input, .formbx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
}
.formbx form input::placeholder, .formbx form textarea::placeholder{
    color: #999;
}
.formbx form input[type="submit"]{
    max-width: 100px;
    background: #4e10f7;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 40px;
}
.contactinfo{
    min-width: 40%;
}
.contactbx{
    position: relative;
}
.contactbx .bx{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.contactbx .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: #4e10f7;
   
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactbx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactbx .box .text h3{
    font-weight: 500;
    color: 6d677d;
    margin-bottom: 0;
}
.footer{
    background:#162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    color: #fff;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul li{
    list-style: none;

}
.footer ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0px 10px;

}
.footer ul li a img
{
    filter:invert(1) ;
    max-width: 20px;
}


@media(max-width: 991px){
    header,header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 67.2px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);


    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;

    }
    .toggle.active{
        background: url(close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;

    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 2em;
    }
    .banner h3{
        font-size: 1.5em;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .heading h2{
        font-size: 24px;
    }
    .contentbx h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
    .contentbx p {
        font-size: 16px;
    }
    img {
        max-width: 60%;
    }
    .services .content .servicebx {
        
        max-width: 257px;
        margin: 10px;
    }
    .reviews .content .reviewsbx{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
    }
    .reviews .content .reviewsbx p {
        
        font-size: 18px;
        
    }
    .reviews .content .reviewsbx h3 {
        
        margin-top: 20px;
       
        font-size: 19px;
    }
    .contactinfo{
       
        margin: 20px 0;

    }



}
